@media screen and (min-width: 1420px) and (max-width: 1550px) {
  .box-cards {
    width: 330px;
  }
  .box-cards p {
    font-size: 15px;
  }
  .box-cards h3 {
    font-size: 20px;
  }
  .number p {
    font-size: 40px;
  }
}

@media screen and (max-width: 1420px) {
  .box-cards {
    width: 300px;
  }
  .box-cards p {
    font-size: 15px;
  }
  .number p {
    font-size: 40px;
  }
  .box-cards h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .box-cards {
    width: 280px;
  }
  .box-cards p {
    font-size: 14px;
  }
  .number p {
    font-size: 40px;
  }
  .box-cards h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1140px)  {
  .first-page {
    /* background-image: url(imgs/first-page-720.jpg); */
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding-top: 35%;
    height: 100%;
  }
  .box-cards {
    width: 260px;
  }
  .box-cards p {
    font-size: 13px;
  }
  .number p {
    font-size: 38px;
  }
  .box-cards h3 {
    font-size: 20px;
  }
  .line {
    width: 200px;
  }
}
@media screen and (max-width: 720px) {
  .container-cards-beneficios {
    flex-direction: column;
    align-items: center;
  }
  .box-cards {
    width: 350px;
    margin-bottom: 7%;
  }
  .box-cards p {
    font-size: 18px;
  }
  .number p {
    font-size: 50px;
  }
  .box-cards h3 {
    font-size: 20px;
  }
  .container-teams1 {
    flex-direction: column;
  }
  #third-page {
    height: auto;
  }
  .cards-team {
    margin-bottom: 7%;
    width: auto;
    height: 360px;
    flex-direction: column;
  }
  .cards-team p {
    font-size: 11px;
  }
  .img-team img {
    height: 150px;
    width: 150px;
    margin-top: 30px;

    object-fit: cover;
  }
  .txt-team h3 {
    text-align: center;
    margin-top: 8px;
  }

  .first-page {
    /* background-image: url(imgs/first-page-720.jpg); */
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    padding-top: 35%;
  }
  .txt-first-page {
    /* position: relative; */
    bottom: 100px;
    right: 30px;
  }
  .txt-first-page h1{
    font-size: 2.5em;
  }
  .txt-first-page p{
    font-size: 0.7em;
  }
}

@media screen and (max-width: 700px){
  .first-page {
    /* background-image: url(imgs/first-page-500.jpg); */
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  .txt-first-page {
    margin-top: 4%;
  }
  .txt-first-page h1{
    font-size: 3.4em;
    text-align: center;
  }
  .txt-first-page p{
    font-size: 1em;
    text-align: center;
  }
  .btn-social {
    text-align: center;
  }
  .second-page {
    height: 600px;
  }
  .img-box {
    display: none;
  }
  .txt-consultoria {
    align-items: center;
    width: 330px;
  }
  .txt-consultoria p{
    font-size: 1.3em;
  }
  .cta {
    width: 100%;
    align-items: center;
    background-image: url(imgs/fundo-cta3.jfif);
    object-fit: cover;
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cta .txt-box h2 {
    font-size: 30px;
    line-height: 26px;
    font-family: "Oswald", serif;
    text-align: center;
  }
  .container-cta {
    width: 365px;
  }
  .cta .button-cta button {
    width: 215px;
  }
  .cta .button-cta {
    text-align: center;
  }
  .cta .img-logo {
    display: none;
  }
}
 @media (max-width: 900px) {
  .hamburguer {
    display: block;
    z-index: 1;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo);
    clip-path: circle(100px at 95% -20%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }
  .nav.active .menu {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }
  .menu li a {
    font-size: 24px;
    opacity: 0;
  }
  .nav.active .menu a {
    opacity: 1;
    color: white;
  }
  .menu li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .menu li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .menu li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }
  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .none {
    display: none;
  }
 }